@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Manjari", sans-serif;
}

html {
	font-size: 20px;
}

body {
	margin: 30px 0;
	min-height: calc(100vh-60px);
}

.container {
	margin: 0 8%;
}

#top {
	text-align: center;
	margin: 0 0 30px 0;
	font-family: "Manjari", sans-serif;
}

#top :nth-child(1) {
	font-size: 2.6rem;
}

#top :nth-child(2) {
	margin: 16px 0;
	font-size: 1.6rem;
}

button {
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	border: none;
	background: rgb(7, 163, 224);
	color: white;
	font-weight: 600;
	cursor: pointer;
	font-size: 0.75rem;
}

button:hover {
	background: rgb(25, 125, 165);
}

.main {
	display: grid;
	grid-template-columns: 5fr 7fr;
	visibility: hidden;
}

#details {
	margin: 0 5%;
}

#recipe {
	margin: 10px 5%;
}

.recipe-name {
	font-size: 1.2rem;
}

#recipe-desc {
	margin-top: 8px;
	font-size: 0.9rem;
	line-height: 1.2rem;
	word-spacing: 0.08rem;
}

#identifiers p {
	margin: 15px 0;
	font-size: 0.8rem;
}

#identifiers p :first-child {
	font-weight: 700;
	font-size: 0.9rem;
}

#ingredients {
	margin-top: 30px;
}

#ingredients p {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 16px;
}

#ingred-list li {
	list-style: none;
	font-size: 0.8rem;
	margin: 5px 0;
	/* padding-left: 12px; */
}

img {
	width: 100%;
	object-fit: cover;
}

#player {
	margin: 5% 0;
	margin-top: 24px;
}

.video-wrapper {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

@media screen and (max-width: 934px) {
	html {
		font-size: 16px;
	}
	.main {
		grid-template-columns: minmax(80%, 1fr);
	}
}
