@import url("https://fonts.googleapis.com/css?family=Montserrat|Space+Mono&display=swap");
* {
	padding: 0;
	margin: 0%;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	background: rgb(41, 85, 207);
	color: #fff;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
}

button {
	cursor: pointer;
	border: 0;
	outline: none;
}

input[type="checkbox"] {
	position: relative;
	margin-right: 0;
	height: 16px;
	width: 32px;
	border-radius: 8px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

input:checked[type="checkbox"] {
	background: #03a9f4;
}

input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: white;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

input:checked[type="checkbox"]::before {
	left: 16px;
}

.container {
	position: relative;
	background: rgb(28, 11, 126);
	width: 350px;
	padding: 16px;
	margin: 0 auto;
	max-width: 90%;
	top: 30vh;
}

.container h2 {
	text-align: center;
	margin-bottom: 10px;
}

.top {
	height: 40px;
	background: #000;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 16px;
}

#result {
	font-family: "Space Mono", monospace;
	font-size: 0.9rem;
	text-align: center;
	width: calc(100% - 48px);
	align-self: center;
	padding: 0 12px;
	word-wrap: break-word;
	letter-spacing: 0.08rem;
}

#copy-btn {
	width: 40px;
	font-size: 1rem;
	margin: 4px;
	color: white;
	background: rgb(41, 85, 207);
}

.checks {
	margin: 10px 0;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#length {
	width: 40px;
	padding: 0 3px;
	text-align: center;
}

#generate-btn {
	width: 100%;
	padding: 8px 30px;
	margin: 12px 0 0;
	background: rgb(40, 87, 175);
	color: #fff;
	border: 0;
	border-radius: 28px;
	font-weight: 600;
	text-transform: uppercase;
	word-spacing: 6px;
}

#generate-btn:hover {
	background: rgb(6, 6, 168);
}

#copy-btn:hover {
	background: rgb(6, 6, 168);
}

@media only screen and (max-width: 700px) {
	.container {
		top: 10vh;
	}
}
