* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #000;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 60px;
	border-radius: 30px;
	font-size: 24px;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 60px;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	z-index: 1;
}

.btn:hover {
	animation: slide 8s linear infinite;
}

@keyframes slide {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.btn:before {
	content: "";
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	border-radius: 40px;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	z-index: -1;
	background-size: 400%;
	opacity: 0;
}

.btn:hover:before {
	animation: slide 8s linear infinite;
	opacity: 1;
	filter: blur(20px);
}
